<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-body>
      <h1 id="title" class="title">Tambah Data</h1>

      <form [formGroup]="topForm" (ngSubmit)="onSubmit()">
          <div class="form-control-group">
              <label class="label" for="input-name">Kode Top:</label>
              <input type="text"
                  nbInput
                  fullWidth
                  placeholder="Kode Top"
                  formControlName="kode_top"

                  >
          </div>

          <div class="form-control-group">
              <label class="label" for="input-email">Nama Top:</label>
              <input type="text"
                  nbInput
                  fullWidth
                  placeholder="Nama Top"
                  formControlName="nama_top"
                  >
          </div>
         <br /><br />

          <button nbButton
                fullWidth
                status="primary"
                size="large"
                >
          Simpan
        </button>
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
